.tableSection {
    width: 85%;
    max-width: 50rem;
    padding: 3rem;
    margin: 2rem auto;
    text-align: center;
    overflow: scroll;
}

.tableSection h1 {
    color: black;
}

@media screen and (max-width: 600px) {
    .tableSection {
        width: 90%;
        max-width: 25rem;
    }
}

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    box-sizing: border-box;
}
 
th:nth-child(n+2){
    border-bottom: 1px solid black;
    color: green;
}

th:hover:nth-child(n+2){
    cursor:pointer;
    font-weight: bold;
    font-size: larger;
}
 
td:nth-child(1){
    color: green;
}

td:hover:nth-child(1){
    font-weight: bold;
    cursor: pointer;
}

.tableSection tr button{
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;
    background-color: transparent;
}