.itineraryModule {
    width: 85%;
    max-width: 50rem;
    padding: 3rem;
    margin: 2rem auto;
    text-align: center;
    overflow: scroll;
}

.infoSection table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 10px;
}

.infoSection th, .infoSection td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: auto;
}


@media screen and (max-width: 600px) {
    .itineraryModule {
        width: 90%;
        max-width: 25rem;
    }
}