.groupMenu{
    width: 90%;
    max-width: 40rem;
    padding: 3rem;
    margin: 2rem auto;
    text-align: center;
}

.selectionForm{
    width: 50%;
    margin-bottom: 1rem;
    text-align: left;
    float: left;
}

.selectionForm label{
    font-size: 1.5rem;
}

.selectionForm select{
    border-color: rgb(80,0,95);
    margin: 0;
    width: 75%;
}